<section id="byline">
  <div>
    Designed and developed by yours truly. 2023.
  </div>
</section>

<section id="social" class="container text-center">
  <div class="">
    <a href="https://www.linkedin.com/in/ben-ewing/" target="blank"><i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i></a>
    <a href="https://angel.co/benjamin-ewing" target="blank"><i class="fab fa-angellist fa-2x" aria-hidden="true"></i></a>
    <a href="mailto:bewing@hey.com" target="blank"><i class="far fa-envelope fa-2x" aria-hidden="true"></i></a>
  </div>
</section>
