<!DOCTYPE html>

<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="proj_thumb" style="background-image: url({{ site.baseurl }}/img/{{ page.thumbnail }}); background: {{ page.color }};">
      <div class="container" style="height: 100%; text-align: center; background: url({{ site.baseurl }}/img/soundcloud/soundcloud_logo.gif) no-repeat center; background-size: 65%;">
        <img src="{{ site.baseurl }}/img/soundcloud/{{ page.hero_scrn }}" height="80%" style="margin-top: 50px;">
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="headlines">
          <h1>{{ page.headline }}</h1>
          <h5>A Usability Case Study</h5>
        </div>

        <div id="casestudy_intro" class="row" style="background: #f1f1f1;">
          <div class="col-md-4">
            <div id="my_role">
              <h5>My Role</h5>
              {{ page.my_role }}
              <br />
            </div>
            <div id="scope">
              <h5>The Scope</h5>
              {{ page.scope }}
              <br />
            </div>
          </div>
          <div id="challenge" class="col-md-8">
            <h5>The Challenge</h5>
            {{ page.challenge }}
          </div>
        </div>

        <div class="casestudy">
          {{ content }}
        </div>


      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
